#!/bin/bash

#!/bin/bash
conf_file=$@


jq -r -c .backups[].name $conf_file | while read backup_name
do
	last=$(aws s3 ls {{ s3_bucket_name }} | sort --reverse | grep .tar | grep $(hostname) | grep $backup_name | awk '{ print $4 }' | head -1)
	aws s3 cp s3://{{ s3_bucket_name }}/$last .
done
